{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="text-center mb-5">
        <h1 class="h1">
            NOTIFICATIONS
        </h1>
    </div>

    {% if not notifications %}
    <div class="status-panel">

        <div class="p-5 text-center text-muted">
            There are no notifications yet
        </div>

    </div>
    {% endif %}

    {% for notification in notifications %}
    <div class="status-panel mb-4 notification-card">

        <div class="status-head">
            <span>{{ notification.title }}</span>
            <span class="notif-time mt-2">
                <span data-time="{{ notification.date | isoformat }}"></span>
            </span>
        </div>

        <div class="p-4 notification-body">
            {{ notification.html }}
        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}


{% block scripts %}
{{ Assets.js("assets/js/notifications.js") }}
{% endblock %}